.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: darkblue;
    background-color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: white;
}
.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default {
    background-color: #963131;
}

.header-wrapper {
    background-image: url("../images/background.jpg");
    background-size: contain;
}

.foto{
    width:150px;
}
.caption{
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-around;
    background-color:  #963131;;
}


.icon-facebook:hover {
    background-color: #4668b3;
}

.icon-gplus:hover {
    background-color: #DD4B3E;
}

.icon-twitter:hover {
    background-color: #139FF2;
}

.icon-instagram-1:hover {
    background-color: #D02E91;
}

.icon-youtube:hover {
    background-color: #E62117;
}