.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: darkblue;
    background-color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: white;
}
.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default {
    background-color: #963131;
}
.social {
    display: flex;
    justify-content: space-around;
}