.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.has-padding-top_1{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #9d9d9d;

}
.has-padding-top_2{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #31b0d5;
}
p {
    padding-left: 15px;
    padding-right: 15px;
    text-align-last: left;
}
h3 {
    word-wrap: break-word;
    }
.has-padding-top_3 {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #46b8da;
}
.container_2 {
    background-color: #5bc0de;
}



