* {
    background-color: blueviolet;
    color: white;
}

header {
    text-align: center;
    background-color: blueviolet;
    font-family: 'Sedgwick Ave Display', cursive;
}
nav{
    background-color: blueviolet;

}
.option {

    font-size: 18px;
    border-left: 1px dotted;
    background-color: blueviolet;
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;

}
.option:hover{
    background-color: violet;
}

#contact {

}

label {
    color: white;
    margin-left: 90px;
    display: inline-block;;

}

form {
    display: inline-block;
    width: 250px;
    border-color: black;
    border-width: 2px;
}

textarea {
    height: 100px;
    width: 240px;
    color: darkblue;
    resize: horizontal;
    line-height: 1.4em;
    background-color: snow;
    border-color: black;
    border-width: 2px;
    box-shadow: black;
}

input[type="submit"] {
    width: 250px;
    color: white;
    background-color: black;
    box-shadow: darkblue;
    border-color: black;
    border-width: 2px;

}

input[type="text"] {
    width: 250px;
    color: white;
    background-color: white;
    box-shadow: darkblue;
    border-color: black;
    border-width: 2px;
}

#contact {

}

label {
    color: white;
    margin-left: 90px;
    display: inline-block;;

}

form {
    display: inline-block;
    width: 250px;
    border-color: black;
    border-width: 2px;
}

textarea {
    height: 100px;
    width: 240px;
    color: darkblue;
    resize: horizontal;
    line-height: 1.4em;
    background-color: snow;
    border-color: black;
    border-width: 2px;
    box-shadow: black;
}

input[type="submit"] {
    width: 250px;
    color: white;
    background-color: black;
    box-shadow: darkblue;
    border-color: black;
    border-width: 2px;

}

input[type="text"] {
    width: 250px;
    color: white;
    background-color: white;
    box-shadow: darkblue;
    border-color: black;
    border-width: 2px;

}

aside {
    background-color: blueviolet;
    width: 100%;
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
}

.icon-facebook, .icon-gplus, .icon-twitter, .icon-instagram-1, .icon-youtube {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}

.icon-facebook:hover {
    background-color: #4668b3;
}

.icon-gplus:hover {
    background-color: #DD4B3E;
}

.icon-twitter:hover {
    background-color: #139FF2;
}

.icon-instagram-1:hover {
    background-color: #D02E91;
}

.icon-youtube:hover {
    background-color: #E62117;
}

img {
    max-width: 100%;
    height: auto;
}

#contact {
    float: right;
}
. footer_style {
    background-color: darkblue;
    margin-top: 100px;
    margin-bottom: 100px;
}
