/* KOD BODY*/

body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

p {
    line-height: 1.75; }

a {
    color: #fed136; }
a.active, a:active, a:focus, a:hover {
    color: #fec503; }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }

/* KOD BODY KONIEC*/

/* MAPKA*/

#map {
    width: 100%;
    height: 500px;
}

/* MAPKA KONIEC*/


/* HEADER */
.btn-xl {
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 3px;
    color: white;
    border-color: #fed136;
    background-color: #fed136;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
header.masthead {
    text-align: center;
    color: white;
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px; }
header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }

#mainNav {
    background-color: #222222; }
#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
#mainNav .navbar-brand {
    color: white;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive; }
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fec503; }

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136; }



.btn-xl .badge {
    color: #fed136;
    background-color: white; }



#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top {
    border-bottom: 1px solid #fff;
    background-color: rgb(0, 0, 0 );

}

.section-contact {
    color: white;
}
/*HEADER KONIEC*/


/*MENU WYBORU*/
#services{

}

.panel-menu{
    background-color: #f8f9fa;
    height:690px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    border-bottom: 1px solid #fff;
    background-color: white;

}

.icon-beer, .icon-fast-food, .icon-glass, .icon-restaurant{
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 200px;
    margin-top: 10px;
}

.icon-name{
    text-transform: uppercase;
    font-size: 20px;
    color:#FED136;
    margin:0px;
}

/*MENU WYBORU - KONIEC*/

/*TEAM SECTION*/

section {
    padding: 100px 0; }

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }

section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

/*TEAM SECTION KONIEC*/

/* FORMULARZ  na pewno??*/

section#contact {
    background-color: #222222;
    background-image: url("../img/map-image.png");
    background-repeat: no-repeat;
    background-position: center; }
section#contact .section-heading {
    color: white; }
section#contact .form-group {
    margin-bottom: 25px; }
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px; }
section#contact .form-group input.form-control {
    height: auto; }
section#contact .form-group textarea.form-control {
    height: 236px; }
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none; }
section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
section#contact :-moz-placeholder {
    font-weight: 700;
    color: #eeeeee;
    /* Firefox 18- */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #eeeeee;
    /* Firefox 19+ */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
section#contact .text-danger {
    color: #e74c3c; }

/*FORMULARZ KONIEC*/

/*SOCIALS*/

.social {
    display: flex;
    justify-content: space-around;
    background-color:#222222;
    padding:0;

}

.icon-facebook:hover {
    background-color: #4668b3;
    border-radius: 10%;
}

.icon-gplus:hover {
    background-color: #DD4B3E;
    border-radius: 10%;
}

.icon-twitter:hover {
    background-color: #139FF2;
    border-radius: 10%;
}

.icon-instagram-1:hover {
    background-color: #D02E91;
    border-radius: 10%;
}

.icon-youtube:hover {
    background-color: #E62117;
    border-radius: 10%;
}

/*SOCIALS KONIEC*/

/*FOOTER*/

footer {
    background-color:#222222;
    margin-top: 30px;
    padding: 25px 0;
    text-align: center;
}
#footer_link {
    text-decoration: none;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
}
#footer_bottom {
    height:50px;
    text-align: center;
    margin-top: 30px;
    color: #fed136;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    font-size:20px;
}

/*FOOTER KONIEC*/





