*{
    background-color: black;
    color: white;
}

header{
    display:flex;
    justify-content: space-around;
    text-align: center;
}


#menu{
    display:flex;
    justify-content: space-around;
}
<<<<<<< HEAD

.option
{
    width: 100px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border: 2px dotted ;
    margin:auto;
=======

.option
{
    width: 100px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border: 2px dotted ;
    margin:auto;

}

#contact {

}

label {
    color: white;
    margin-left: 90px;
    display: inline-block;;

}

form {
    display: inline-block;
    width: 250px;
    border-color: black;
    border-width: 2px;
}

textarea {
    height: 100px;
    width: 240px;
    color: darkblue;
    resize: horizontal;
    line-height: 1.4em;
    background-color: snow;
    border-color: black;
    border-width: 2px;
    box-shadow: black;
}

input[type="submit"] {
    width: 250px;
    color: white;
    background-color: black;
    box-shadow: darkblue;
    border-color: black;
    border-width: 2px;

}

input[type="text"] {
    width: 250px;
    color: white;
    background-color: white;
    box-shadow: darkblue;
    border-color: black;
    border-width: 2px;
>>>>>>> 3637d413a218c89969d09ab81020f56f6b5aa5cc

}

#contact {

}

label {
    color: white;
    margin-left: 90px;
    display: inline-block;;

}

form {
    display: inline-block;
    width: 250px;
    border-color: black;
    border-width: 2px;
}

textarea {
    height: 100px;
    width: 240px;
    color: darkblue;
    resize: horizontal;
    line-height: 1.4em;
    background-color: snow;
    border-color: black;
    border-width: 2px;
    box-shadow: black;
}

input[type="submit"] {
    width: 250px;
    color: white;
    background-color: black;
    box-shadow: darkblue;
    border-color: black;
    border-width: 2px;

}

input[type="text"] {
    width: 250px;
    color: white;
    background-color: white;
    box-shadow: darkblue;
    border-color: black;
    border-width: 2px;

}