@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?61351954');
  src: url('../font/fontello.eot?61351954#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?61351954') format('woff2'),
       url('../font/fontello.woff?61351954') format('woff'),
       url('../font/fontello.ttf?61351954') format('truetype'),
       url('../font/fontello.svg?61351954#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?61351954#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-glass:before { content: '\e800'; color: #08304B; font-size: 40px;} /* '' */
.icon-beer:before { content: '\e801'; color: #08304B; font-size: 40px;} /* '' */
.icon-fast-food:before { content: '\e815'; color: #08304B; font-size: 40px;} /* '' */
.icon-monument:before { content: '\e827'; color: #08304B; font-size: 40px;} /* '' */
.icon-restaurant:before { content: '\e832'; color:#08304B; font-size: 40px;} /* '' */
.icon-building:before { content: '\f0f7'; color: #08304B; font-size: 40px;} /* '' */
.icon-twitter:before { content: '\f099'; color: white; font-size: 40px;} /* '' */
.icon-facebook:before { content: '\f09a'; color: white; font-size: 40px;; } /* '' */
.icon-youtube:before { content: '\f167'; color: white; font-size: 40px; } /* '' */
.icon-instagram-1:before { content: '\f16d'; color: white; font-size: 40px;} /* '' */
.icon-gplus:before { content: '\f30f'; color: white; font-size: 40px;} /* '' */